#Analytics{
    background-color: #001e35;
    height:100% ;
    padding-top:74px ;
}
#admin-nav{
    width: 100vw;
    top: 0;
    z-index: 1000;
    position: fixed;
    background-color: #001529;
    color: white;
    display: flex;;
    align-items: center;
    justify-content:space-around;
    /* box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2); */
}
#admin-options{
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    /* align-content: center; */
    flex-direction: row;
}
#admin-nav a{
    color: #99a2a9;
    text-decoration: none;
    /* border-bottom:2px solid blue ; */
}
#admin-nav a:hover{
    color: white;
}
#admin-nav #active{
    color: white;
}



.visitor-stats{
    display: flex;
    justify-content: center;
    /* gap: 20px; */
    align-items: center;
    align-content: center;
    flex-direction: column;
    /* background-color: #001e35; */
    /* border: 2px solid red; */
}

#dashboard-charts ,#donut{
    height: 70vh;
    
    display: flex;
    justify-content: center;
    gap: 10%;
    align-items: center;
    /* align-content: center; */
    flex-direction: row;
    /* background-color: #001e35; */
    /* border: 2px solid yellow; */
}
.chart-container , .donut-chart{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 2px solid red; */
    width: 35%;
    padding: 40px;
    /* height: ; */
    background-color: #001529;
    /* border: 1px red solid; */
    border-radius: 14px;
}
.analytics-body{
    /* height: 100vh; */
}
.analytics-body {
    color : white;
}
.analytics-body p{
    color: #99a2a9;
}
.donut-chart{
    width: 85%;
    height: 75%;
    padding-top: 40px;
}
#donut{
    height: 80vh;
}