#hero{
    height: 80vh;
    background-color: #001529;
    /* width: 100%; */
}
#info{
    text-align: justify;
    text-justify:newspaper;
}
.container{
    display: flex;
    justify-content:space-between;
    flex-direction: row;
}
.placeholder {
    margin-top: 100px;
    position: absolute;
    top: 55px;
    /* text-align: center; */
    left: 0;
    right: 0;
    padding-left: 40px;
    opacity: 0.05;
    pointer-events: none; }
    .placeholder h5 {
      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: #fff;
      /* font-size: 100px; */
      font-size: 7vw;
      color: transparent;
      margin: 0;
      font-weight: 600;
      text-transform: uppercase;
      line-height: 1;
      letter-spacing: 0.8rem; 
}

.content{
    text-align:left;
    /* border: 2px solid red; */
    color: white;
    padding-left: 8%;
    /* padding-right: 5%; */
    display: flex;
    flex-direction: column;
    justify-content: center;

    /* align-items: center; */
}
.imgdiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 15px solid red;
    border-right: 10px;
    background-color: #001529;
    border-radius: 50% 0% 0% 50% ;
    z-index: 200;
    margin-right: 0;
}
#dotsbg{
    width: 650px;
    /* padding-left: 50px; */
    /* border: 10px solid white; */
    /* border: 100px; */
    /* position: absolute; */
    /* margin-left: 300px; */
    /* z-index: 1; */
    height: 650px;
    border-radius: 50% 50% 0% 50% ;
}
.imgdiv2{
    width: 500px;
    z-index: 2;
    /* border-radius: 50% 50% 0% 50% ; */
    padding: 6% 0% 6% 6%;
}
.imgdiv2 img{
    width: 400px;
    /* padding-left: 50px; */
    border: 15px solid rgb(224, 216, 216);
    /* border: 100px; */
    height: 460px;
    border-radius: 50% 50% 0% 50% ;
}
.social_links a{
    /* background-color: red; */
    color: white;
    /* font-size: 28px; */
    margin: 10px 0;
    /* border: 2px solid white; */
    cursor: pointer;
    transition: all 0.3s ease;
    /* display: inline-block; */
}
.link{
    padding: 10px;
    border-radius:4px;
    width: 35px;
    font-size: 28px;
    /* background-color: red; */
}
  .link:hover {
    transform: scale(1.2);
    /* background-color: #ff4d4f; */
    /* border-color: red; */
  }
  
.content p{
    /* margin-bottom:% ; */
    max-width: 650px;
    line-height: 30px;
    color: #99a2a9;
}
#name{
    font-size:45px;
    /* border: 2px solid red; */
    margin-bottom: 1%;
    margin-top: 0%;
}
.content h5{
    border: 4px solid red;
    width: 130px;
    margin-top: 0%;
    /* height: 50px; */
    border: 0px 0px 4px 0px ;
}
.content a button{
    height: 50px;
    width: 150px;
    border-radius: 5px;
    font-weight:600;
    font-size: 16px;
    cursor: pointer;
}
.content a button:hover{
    background-color: red;
    color: white;
}
.typed-text{
    font-size: 40px ;
}

/* @media screen and (min-width: 375px) and (min-width: 425px){
    #hero{
        overflow: hidden;
    }
    .placeholder{
        display: none;

    }
    .social_links  a{
        margin-right: 20px;
    }
    .imgdiv{
        position: relative;
        width: 300px;
        height: 39vh;
        border: 5px solid red;
        border-right: 0px;
        background-color: #001529;
        border-radius: 45% 0% 0% 45% ;
        z-index: 0;
        margin-right: 0;
        margin-left: -270px;
        padding-left: 0px;
    }
    .imgdiv2{
        width:100%;
        padding: 6% 0% 6% 0%;
    }
    .imgdiv2 img{
        width: 170px;
        height: 190px;
        margin-left: 30px;
        border: 5px solid rgb(224, 216, 216);
        border-radius: 50% 50% 45% 50% ;
    }
    .link{
        padding: 7px;
        width: 25px;
    }
    .social_links{
        margin-right: 5px;
    }
    .content{
        overflow: hidden;
        margin-top: 45vh;
        font-size: 13px;
    }
    #name{
        font-size: 20px;
    }
    .content{
        width: 83%;
    }
    .content h5{
        border: 2px solid red;
        width: 50px;
        margin-top: 0%;
        border: 0px 0px 4px 0px ;
    }
    .content a button{
        height: 25px;
        width: 75px;
        font-size: 9px;
    }
} */
@media screen and (min-width: 320px) and (max-width: 376px){
    #hero{
        overflow: hidden;
        height: auto;
    }
    .placeholder{
        display: none;
        /* margin-top: 120px; */

    }
    /* .placeholder h5{
        -webkit-text-stroke-width: 1.7px;
        font-size: 8vw;
        letter-spacing: 0.1rem;
        line-height: 1.1;
    } */
    .social_links  a{
        /* margin-right: 20px; */
    }
    .container{
        flex-direction: column-reverse;
        /* justify-content: center;
        align-items: center; */
    }
    .imgdiv{
        position: relative;
        width: 300px;
        height: 270px;
        border: 5px solid red;
        border-right: 0px;
        /* background-color: #001529; */
        /* background-color:brown; */
        border-radius: 45% 0% 0% 45% ;
        z-index: 0;
        margin-right: 0;
        margin-left:10%;
        margin-bottom: 30px;
        padding-left: 0px;
    }
    .imgdiv2{
        position: absolute;
        width:100%;
        /* z-index: 2; */
        /* border-radius: 50% 50% 0% 50% ; */
        padding: 6% 0% 6% 0%;
    }
    .imgdiv2 img{
        width: 170px;
        height: 190px;
        margin-left: 30px;
        /* padding-left: 50px; */
        border: 5px solid rgb(224, 216, 216);
        /* border: 100px; */
        border-radius: 50% 50% 45% 50% ;
    }
    .link{
        padding: 7px;
        width: 25px;
        /* font-size: 2px; */
    }
    .social_links a{
        margin-right: 0px;
        margin-left: 240px;
    }
    .content{
        /* overflow-y: hidden; */
        /* content: none; */
        /* margin-top: 45vh; */
        /* padding: 10px; */
        font-size: 13px;
    }
    #name{
        font-size: 20px;
    }
    .content{
        width: 83%;
    }
    .content h5{
        border: 2px solid red;
        width: 50px;
        /* padding-left:10px ; */
        /* margin-left: 6px; */
        /* margin-top: 0%; */
        /* height: 50px; */
        border: 0px 0px 4px 0px ;
    }
    .content a button{
        height: 25px;
        width: 75px;
        font-size: 9px;
    }
    .typed-text{
        font-size: 20px ;
    }

}
@media screen and (min-width: 376px) and (max-width: 431px){
    #hero{
        overflow: hidden;
        height: auto;
        /* padding: 100px 0px 50px 0px; */
    }
    .placeholder{
        display: none;
        /* margin-top: 120px; */

    }
    /* .placeholder h5{
        -webkit-text-stroke-width: 1.7px;
        font-size: 8vw;
        letter-spacing: 0.1rem;
        line-height: 1.1;
    } */
    .social_links  a{
        /* margin-right: 20px; */
    }
    .container{
        flex-direction: column-reverse;
        /* justify-content: center;
        align-items: center; */
    }
    .imgdiv{
        position: relative;
        width: 320px;
        height: 270px;
        border: 5px solid red;
        border-right: 0px;
        /* background-color: #001529; */
        /* background-color:brown; */
        border-radius: 45% 0% 0% 45% ;
        z-index: 0;
        margin-right: 0;
        margin-left:15%;
        padding-left: 0px;
    }
    .imgdiv2{
        position: absolute;
        width:100%;
        /* z-index: 2; */
        /* border-radius: 50% 50% 0% 50% ; */
        padding: 0% 0% 0% 0%;
    }
    .imgdiv2 img{
        width: 170px;
        height: 190px;
        margin-left: 30px;
        /* padding-left: 50px; */
        border: 5px solid rgb(224, 216, 216);
        /* border: 100px; */
        border-radius: 50% 50% 45% 50% ;
    }
    .link{
        padding: 7px;
        width: 25px;
        /* font-size: 2px; */
    }
    .social_links a{
        margin-right: 0px;
        margin-left: 200px;
    }
    .content{
        /* overflow-y: hidden; */
        /* content: none; */
        /* margin-top: 45vh; */
        padding-top: 50px;
        padding-bottom: 0px;
        font-size: 13px;

    }
    #name{
        font-size: 20px;
    }
    .content{
        width: 83%;
    }
    .content h5{
        border: 2px solid red;
        width: 50px;
        /* font-size: 30px; */
        /* margin-top: 0%; */
        /* height: 50px; */
        border: 0px 0px 4px 0px ;
    }
    .content a button{
        height: 25px;
        width: 75px;
        font-size: 9px;
    }
    .typed-text{
        font-size: 20px ;
    }

}
/* @media screen and (min-width:431px) and (max-width: 769px){ */
@media screen and (min-width: 1024px){
    
}
